<app-text-image id="contact" [isCustom]="true" [image]="image" [leftImage]="false" [mainTitle]="'contact_us_s'">
    <form #form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="sendEmail($event)">
        <div class="input-label double">
            <label for="name">{{appService.getTranslation('name')}}</label>
            <input type="text" id="name" [placeholder]="appService.getTranslation('name')" formControlName="name" />
        </div>
        <div class="input-label double">
            <label for="surname">{{appService.getTranslation('surnames')}}</label>
            <input type="text" id="surname" [placeholder]="appService.getTranslation('surnames')" formControlName="surname" />
        </div>
        <div class="input-label double">
            <label for="email">{{appService.getTranslation('email')}}</label>
            <input type="email" id="email" [placeholder]="appService.getTranslation('email')" formControlName="email" />
        </div>
        <div class="input-label double">
            <label for="phone">{{appService.getTranslation('phone')}}</label>
            <input type="number" id="phone" [placeholder]="appService.getTranslation('phone')" formControlName="phone" />
        </div>
        <div class="input-label">
            <label for="company">{{appService.getTranslation('company')}}</label>
            <input type="text" id="company" [placeholder]="appService.getTranslation('company')" formControlName="company" />
        </div>
        <div class="input-textarea">
            <label for="message">{{appService.getTranslation('msg')}}</label>
            <textarea id="message" [placeholder]="appService.getTranslation('msg')" formControlName="message"> </textarea>
        </div>
        <input type='hidden' formControlName='receptor' />
        <input type='hidden' formControlName='link' />
        <input type='hidden' formControlName='web' />
        <input type='hidden' formControlName='subject' />
        <app-button type="submit" [label]="'contact_us'" classBtn="main"></app-button>
    </form>
</app-text-image>