<app-text-image [isCustom]="true" [image]="image" [leftImage]="false" [mainTitle]="'Contacta con nosotros'">
    <form #form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="sendEmail($event)">
        <div class="input-label double">
            <label for="name">Nombre</label>
            <input type="text" id="name" [placeholder]="'Nombre'" formControlName="name" />
        </div>
        <div class="input-label double">
            <label for="surname">Apellidos</label>
            <input type="text" id="surname" [placeholder]="'Apellidos'" formControlName="surname" />
        </div>
        <div class="input-label double">
            <label for="email">Email</label>
            <input type="email" id="email" [placeholder]="'Email'" formControlName="email" />
        </div>
        <div class="input-label double">
            <label for="phone">Teléfono</label>
            <input type="number" id="phone" [placeholder]="'Teléfono'" formControlName="phone" />
        </div>
        <div class="input-label">
            <label for="company">Empresa</label>
            <input type="text" id="company" [placeholder]="'Empresa'" formControlName="company" />
        </div>
        <div class="input-textarea">
            <label for="message">Mensaje</label>
            <textarea id="message" [placeholder]="'Mensaje'" formControlName="message"> </textarea>
        </div>
        <input type='hidden' formControlName='receptor' />
        <input type='hidden' formControlName='link' />
        <input type='hidden' formControlName='web' />
        <input type='hidden' formControlName='subject' />
        <app-button type="submit" [label]="'Contactar'" classBtn="main"></app-button>
    </form>
</app-text-image>