<app-header [bkg]="bkg" [needsBlue]="true" [padding]="200" [isTriangle]="false" [isCentered]="true">
    <h1>{{title}}</h1>
</app-header>
<app-container [isContainer]="true">
    <div [style]="{'font-weight':600}" [innerHTML]=" text | safe:'html' "></div>
    <div class="subimages">
        <figure *ngFor="let image of subimages">
            <img [src]="image" alt="H7Metrology">
        </figure>
    </div>
    <div class="images">
        <figure *ngFor="let image of images">
            <img [src]="image" alt="H7Metrology">
        </figure>
    </div>
    <div [innerHTML]=" text2 | safe:'html' "></div>
    <div class="images">
        <figure *ngFor="let image of images2">
            <img [src]="image" alt="H7Metrology">
        </figure>
    </div>
</app-container>