<nav>
    <div class="container nav">

        <figure (click)="goHome()">
            <img [src]="companyService.companyLogo" alt="H7metrology Logo">
        </figure>

        <div *ngIf="appService.isDesktop" class="links">
            <app-button [label]="'Quienes somos'" classBtn="link" (click)="navigate('quienes-somos')"></app-button>
            <app-button [label]="'Soluciones'" classBtn="link" (click)="navigate('/', 'soluciones')"></app-button>
            <app-button [label]="'Control Dimensional'" classBtn="link" (click)="navigate('control-dimensional')"></app-button>
            <app-button [label]="'END'" classBtn="link" (click)="navigate('end')"></app-button>
            <app-button [label]="'Ingeniería inversa'" classBtn="link" (click)="navigate('ingenieria-inversa')"></app-button>
            <app-button [label]="'Impresión 3D'" classBtn="link" (click)="navigate('impresion-3d')"></app-button>
        </div>

        <app-button [label]="'Contactar'" classBtn="main" icon="fa-solid fa-chevron-right" (click)="navigate('/')"></app-button>
    </div>
</nav>