<nav>
    <div class="container nav">

        <figure (click)="goHome()">
            <img [src]="companyService.companyLogo" alt="H7metrology Logo">
        </figure>

        <div class="links">
            <app-button [label]="'Quienes somos'" class="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Soluciones'" class="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Control Dimensional'" class="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'END'" class="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Ingeniería inversa'" class="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Impresión 3D'" class="link" (click)="navigate('/')"></app-button>

        </div>

        <app-button [label]="'Contactar'" class="main" icon="fa-solid fa-chevron-right" (click)="navigate('/')"></app-button>
    </div>
</nav>