<nav>
    <div class="container nav">

        <figure (click)="goHome()">
            <img [src]="companyService.companyLogo" alt="H7metrology Logo">
        </figure>

        <div class="links">
            <app-button [label]="'Quienes somos'" classBtn="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Soluciones'" classBtn="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Control Dimensional'" classBtn="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'END'" classBtn="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Ingeniería inversa'" classBtn="link" (click)="navigate('/')"></app-button>
            <app-button [label]="'Impresión 3D'" classBtn="link" (click)="navigate('/')"></app-button>
        </div>

        <app-button [label]="'Contactar'" classBtn="main" icon="fa-solid fa-chevron-right" (click)="navigate('/')"></app-button>
    </div>
</nav>