<app-header [bkg]="bkg" [needsBlue]="true" [padding]="200" [isTriangle]="false" [isCentered]="true">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</app-header>
<ng-container *ngIf="!loading">
    <app-text-image [mainTitle]="'Carrera'" [leftImage]="false" [image]="result?.carrera?.image" [text]="result?.carrera?.text"></app-text-image>
    <app-quote></app-quote>
    <app-text-image [mainTitle]="'Formación'" [leftImage]="true" [image]="result?.formacion?.image" [text]="result?.formacion?.text"></app-text-image>
    <app-quote></app-quote>
    <app-text-image [mainTitle]="'Sostenibilidad'" [leftImage]="false" [image]="result?.sostenibilidad?.image" [text]="result?.sostenibilidad?.text"></app-text-image>
</ng-container>