.variantes {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  app-variante {
    display: block;
    flex: 0 0 49%;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      flex: 0 0 100%;
      margin-bottom: 0;
    }
  }
}
