.variantes {
  background: #f5f5f5;
  padding: 72px 0;
  .container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    app-variante {
      display: block;
      @media (min-width: 992px) {
        height: auto;
        max-width: calc(
          (100% / var(--items)) - (24px * (var(--items) - 1) / var(--items))
        );
        min-width: calc(
          (100% / var(--items)) - (24px * (var(--items) - 1) / var(--items))
        );
      }
      @media (min-width: 675px) and (max-width: 991px) {
        height: auto;
        max-width: calc((100% / 2) - (24px * (2 - 1) / 2));
        min-width: calc((100% / 2) - (24px * (2 - 1) / 2));
      }
      @media (max-width: 674px) {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 0;
      }
    }
  }
}
