:host {
  width: 100%;
  display: block;
}

app-header {
  figure {
    width: 150px;
    height: 53px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      object-fit: contain;
      object-position: center;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  figure.floating-image {
    width: 252px;
    height: 482px;
  }
}
