h3 {
  color: var(--main);
  margin-bottom: 24px;
}
.text-image {
  display: flex;
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .left {
    min-width: 50%;
    max-width: 50%;
  }
  figure {
    border-radius: 12px;
    overflow: hidden;
  }
  &.image-left {
    flex-direction: row;
    .right {
      padding-left: 24px;
    }
  }
  &.image-right {
    flex-direction: row-reverse;
    .right {
      padding-right: 24px;
    }
  }
}
